[project]
name = "aerospike"
version = "0.1.0"
description = "Aerospike Python Client - PyO3 + Rust binding"
readme = "README.md"
authors = [
    { name = "KimSoungRyoul", email = "KimSoungRyoul@gmail.com" }
]
requires-python = ">=3.13"
license = { text = "Apache-2.0" }
dependencies = []

[build-system]
requires = ["maturin>=1.9,<2"]
build-backend = "maturin"

[tool.maturin]
python-source = "src"
module-name = "aerospike._aerospike"
manifest-path = "rust/Cargo.toml"
features = ["pyo3/extension-module"]
